<h1>Edit House</h1>

<%= form_for @house do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label :sigil %>
  <%= f.text_field :img_url %>
  <br><br>
  <%= f.label :words %>
  <%= f.text_field :words %>
  <br><br>
  <%= f.submit %>

<% end %>
