<div class="flex-right">
  <p><%= link_to "Add House", new_house_path %><span> +</span></p>
</div>

<div class="flex">
  <% @houses.each do |house| %>
    <div class="container">
      <a href="/houses/<%= house[:id] %>"><%= house.name %></a>
      <br><br>
      <img class="sigil" src="<%= house.img_url %>">
    </div>
    <% end %>
</div>

<%= link_to "Create House", new_house_path %>
