<div class="flex-space">
  <p><span>&#8606; </span><%= link_to "Back", houses_path %></p>
  <div>
    <p><%= link_to "Add Character", new_house_character_path(@house) %><span> + &nbsp;&nbsp;&nbsp;</span><%= link_to "Edit", edit_house_path %><span> | </span><%= link_to "Delete", house_path(@house), method: :delete %></p>
  </div>
</div>

<h1><%= @house.name %></h1>
<h3>"<%= @house.words %>"</h3>

<div class="flex">
  <% @characters.each do |character| %>
    <div class="container">
      <p><%= link_to character.name, house_character_path(@house, character) %></p>
      <div class="preview" style="background-image: url(<%= character.photo_url %>)"></div>
    </div>
  <% end %>
</div>
