<div class="flex-space">
  <p><span>&#8606; </span><%= link_to "Back", house_character_path(@house,@character) %></p>
</div>

<h1>Edit Character</h1>

<%= form_for [@house, @character] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label :photo %>
  <%= f.text_field :photo_url %>
  <br><br>
  <%= f.submit %>

<% end %>
