<h1>Create New Character</h1>

<%= form_for [@house, @character] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label :photo %>
  <%= f.text_field :photo_url %>
  <br><br>
  <%= f.submit %>

<% end %>
